<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Event Test</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
</head>
<body>
    <select aria-label="Default select example" name="select_value" id="select_stockname">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

    <h5 id="card_title2">005930</h5>

    <div id="pivot">
        <span id="addon-wrapping">Fibonacci Low</span>
        <input type="text" name="fib_low" id="pivothigh_input" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
        <button id="submitbtn0">확인</button>
    </div>

    <script src="/views/example.js"></script>
</body>
</html>
